<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-4 mt-md-0 mt-3">

                <!-- Content -->
                <h5 class="text-uppercase">ALPHASEED</h5>
                <p class="Revolutionizing-the-securitized-asset-trading-ecosystem">Revolutionizing the securitized asset
                    trading ecosystem.</p>
                <img src="/assets/img/linkedin-icon.svg" class="linkedin-icon">
                <img src="/assets/img/instagram-icon.svg" class="linkedin-icon">
                <img src="/assets/img/facebook-icon.svg" class="linkedin-icon">
                <img src="/assets/img/twitter-icon.svg" class="linkedin-icon">

            </div>

            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-2 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="footerHeading">For Investors</h5>

                <ul class="list-unstyled">
                    <li>
                        <a class="footerLink" href="#!">Why Invest</a>
                    </li>
                    <li>
                        <a class="footerLink" href="#!">How it Works</a>
                    </li>
                    <li>
                        <a class="footerLink" href="#!">FAQs</a>
                    </li>
                    <li>
                        <a class="footerLink" href="#!">Risks</a>
                    </li>
                </ul>

            </div>
            <div class="col-md-2 mb-md-0 mb-3">
                <h5 class="footerHeading">For Companies</h5>

                <ul class="list-unstyled">
                    <li>
                        <a class="footerLink" href="#!">Why Raise</a>
                    </li>
                    <li>
                        <a class="footerLink" href="#!">How it Works</a>
                    </li>
                    <li>
                        <a class="footerLink" href="#!">FAQs</a>
                    </li>
                    <li>
                        <a class="footerLink" href="#!">STO Package</a>
                    </li>
                </ul>

            </div>
            <div class="col-md-2 mb-md-0 mb-3">

                <h5 class="footerHeading">Company</h5>

                <ul class="list-unstyled">
                    <li>
                        <a class="footerLink" href="#!">About</a>
                    </li>
                    <li>
                        <a class="footerLink" href="#!">Careers</a>
                    </li>
                    <li>
                        <a class="footerLink" href="#!">Team</a>
                    </li>
                    <li>
                        <a class="footerLink" href="#!">Contact</a>
                    </li>
                </ul>

            </div>
            <div class="col-md-2 mb-md-0 mb-3">
                <h5 class="footerHeading">Legal</h5>

                <ul class="list-unstyled">
                    <li>
                        <a class="footerLink" href="#!">Term of Use</a>
                    </li>
                    <li>
                        <a class="footerLink" href="#!">Privacy Policy</a>
                    </li>
                    <li>
                        <a class="footerLink" href="#!">Term of Service</a>
                    </li>
                </ul>

            </div>

        </div>

    </div>
    <div class="footer-copyright text-center py-3">Alpha Seed is authorised and regulated by the Financial Conduct
        Authority (No. 124563).
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->