<div class="row">
    {{eventList}}
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <h3 class="text-center">Event Name</h3>
        <img src="https://in.bmscdn.com/Events/moviecard/sunburn-goa-2019-et00104928-2019-6-29-t-12-26-32.jpg"
            alt="Smiley face" height="300" width="100%">
        <div class="text-center">
            <h4>Event Date: 20/29/1928</h4>
            <p>No. of Seate available: 100</p>
            <button type="button" class="btn btn-primary">Book Now</button>
        </div>
    </div>
    <div class="col-md-3 col-lg-3">
        <h3>Event Name</h3>
        <img src="https://in.bmscdn.com/Events/moviecard/sunburn-goa-2019-et00104928-2019-6-29-t-12-26-32.jpg"
            alt="Smiley face" height="300" width="100%">
        <div style="text-align: center">
            <h4>Event Date: 20/29/1928</h4>
            <p>No. of Seate available: 100</p>
            <button type="button" class="btn btn-primary">Book Now</button>
        </div>
    </div>
    <div class="col-md-3 col-lg-3">
        <h3>Event Name</h3>
        <img src="https://in.bmscdn.com/Events/moviecard/sunburn-goa-2019-et00104928-2019-6-29-t-12-26-32.jpg"
            alt="Smiley face" height="300" width="100%">
        <div style="text-align: center">
            <h4>Event Date: 20/29/1928</h4>
            <p>No. of Seate available: 100</p>
            <button type="button" class="btn btn-primary">Book Now</button>
        </div>
    </div>
    <div class="col-md-3 col-lg-3">
        <h3>Event Name</h3>
        <img src="https://in.bmscdn.com/Events/moviecard/sunburn-goa-2019-et00104928-2019-6-29-t-12-26-32.jpg"
            alt="Smiley face" height="300" width="100%">
        <div style="text-align: center">
            <h4>Event Date: 20/29/1928</h4>
            <p>No. of Seate available: 100</p>
            <button type="button" class="btn btn-primary">Book Now</button>
        </div>
    </div>
</div>

